<main class="desktop">
    <h2>Ajout d'un nouvel administrateur</h2>
    <div class="admin add-admin">
    <form action="/addnewadmin" method="post" class="form" enctype="multipart/form-data">
      <div class="sub-form">
        <input class="field email" type="email" id="email" name="email" placeholder="Email">
        <input class="field name" type="name" id="name" name="name" placeholder="Prenom">
      </div>
        <fieldset class="field">
          <legend>Photo de profil</legend>
        <input class="field picture" type="file" id="myfile" name="myfile">
        </fieldset>
        <textarea class="field text" name="text" id="text" placeholder="Un texte de description"></textarea>
        <fieldset class="field role">
            <legend>Selectionner si le role de l'administrateur est principal ou secondaire</legend>
            <div>
                <input type="radio" id="role" name="role" value="main" checked>
                <label for="main">Principal</label>
            </div>
            <div>
                <input type="radio" id="role" name="role" value="second">
                <label for="second">Secondaire</label>
            </div>
        </fieldset>
        <div class="sub-form">
          <input class="field password" type="password" id="password" name="password" placeholder="Nouveau mot de passe">
          <input class="button" type="submit" value="Ajout">
      </div>
    </form>
  </div>
    <h2>Suppression d'un administrateur</h2>
    <table class="tab js-post-table-admin">
        <thead>
            <th>administrateur secondaire</th>
            <th>Photo</th>
            <th></th>
        </thead>
        <tbody>
          <% for(let i = 0; i < admin.length; i++) { %>
            <% if(admin[i].role === 'second'){ %>
            <tr data-id="<%=admin[i].id%>">
              <td><%=admin[i].name%></td>
              <td><img src="<%= admin[i].picture %>" alt="<%= admin[i].name %>"></td>
              <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>
          <% }} %>
        </tbody>
      </table>
</main>