<main class="desktop">
    <h2>Ajout d'un nouvel administrateur</h2>
    <form action="/addnewadmin" method="post" class="form" enctype="multipart/form-data">

        <input class="field email" type="email" id="email" name="email" placeholder="Email">

        <input class="field name" type="name" id="name" name="name" placeholder="Prenom">

        <input class="field picture" type="file" id="myfile" name="myfile">

        <textarea class="field text" name="text" id="text" rows="20" cols="33"
            placeholder="Un texte de description"></textarea>

        <fieldset class="field role">
            <legend>Selectionner si le role de l'administrateur est principal ou secondaire</legend>

            <div>
                <input type="radio" id="role" name="role" value="main" checked>
                <label for="main">Principal</label>
            </div>
            <div>
                <input type="radio" id="role" name="role" value="second">
                <label for="second">Secondaire</label>
            </div>
        </fieldset>

        <input class="field password" type="password" id="password" name="password" placeholder="Nouveau mot de passe">

        <input class="button" type="submit" value="Ajout">
    </form>
</main>