<main class="desktop">
    <section class="index">
        <h3>Modification de la page d'accueil</h3>
        <h4>Modification des photos du carrousel</h4>
        <form action="/addcarrouselpicture" method="post" class="form" enctype="multipart/form-data">
    
            <input class="field picture" type="file" id="carrousel1" name="carrousel1">
            <input class="field picture" type="file" id="carrousel2" name="carrousel2">
            <input class="field picture" type="file" id="carrousel3" name="carrousel3">
            <input class="field picture" type="file" id="carrousel4" name="carrousel4">
            <input class="field picture" type="file" id="carrousel5" name="carrousel5">
    
            <input class="button" type="submit" value="Ajout">
        </form>
    </section>
</main>