<main class="desktop">
    <section class="contact">
        <h2>Vous souhaitez prendre rendez-vous? Contactez nous!</h2>
        <div class="content">
            <div class="info">
                <h3>Au Petit Salon St Félix</h3>
                <p>Place St Félix</p>
                <p>44400 Nantes</p>
                <p><a href="tel:<%=info[0].telephone %>"><%=info[0].telephone %></a></p>
            </div>
            <div class="info">
                <h3>Horaires d'ouverture</h3>
                <% for(let i = 0; i < schedule.length; i++) { %>
                    <p><%=schedule[i].jours%> : <%=schedule[i].heures%></p>
                  <% } %>
            </div>
            <div class="info">
                <h3>Accès</h3>
                <p>Tramway ligne 2</p>
                <p>Arrêt St Félix</p>
            </div>

        </div>

        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d738.6176899391138!2d-1.555922480135569!3d47.231028015885634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ee9b7cf83705%3A0x299d6e514b7281ef!2sAu%20Petit%20Salon!5e0!3m2!1sfr!2sfr!4v1648825841513!5m2!1sfr!2sfr"   referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</main>