<main class="desktop">
    <section class="galerie">
        <h2>Quelques unes de nos réalisations...</h2>
        <% for(let i = 0; i < galerie.length; i++){ %>
          <div class="image">
            <img src="<%= galerie[i].img %>" alt="Réalisation">
            <p>By <%=galerie[i].name%></p>
          </div>
        <% }; %>
      </section>
</main>