<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>APS-SF | Accueil</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="/slick/slick.css">
	<link rel="stylesheet" href="/slick/slick-theme.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header class="header">
		<div class="title">
			<div class="admin"><a href="/admin"><i class="fa-solid fa-user-gear"></i></a></div>
			<% if(locals.isAdmin) { %>
			<div class="logout"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></div>
			<div class="newAdmin"><a href="/addnewadmin"><i class="fa-solid fa-user-plus"></i></a></div>
			<% } %>
			<h1><a href="/">Au Petit Salon</a></h1>
			<h2><a href="/">Saint Félix</a></h2>
		</div>
		<nav class="nav">
			<ul>
				<li class="first"><a href="/serve">Services et tarifs</a></li>
				<li><a href="/team">Notre équipe</a></li>
				<li><a href="/galerie">Galerie photo</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>	
		</nav>	
	</header>

	<%- include(template) -%> 

	<footer class="footer">
		<div class="social">
			<h3>Suivez nous sur nos réseaux</h3>
			<a href="https://www.instagram.com/aupetitsalon_stfelix/"><i class="fa-brands fa-facebook-f"></i></a>
			<a href="https://www.facebook.com/search/top?q=au%20petit%20salon%20saint%20f%C3%A9lix"><i class="fa-brands fa-instagram"></i></a>
			<h3>Notre 2<sup>ème</sup>salon</h3>
			<a href="#">Au Petit Salon - Butte St Anne</a>
		</div>
		<div class="propos">
			<h3>À propos</h3>
			<p>Au Petit Salon St Félix</p>
			<p>Place de St Félix</p>
			<p>44400 Nantes</p>
			<p><a href="tel:+33789003780">07 89 00 37 80</a></p>
			<p>© Au Petit Salon St Félix | tout droits réservés.</p>
		</div>

	</footer>
	
</body>	
</html>
