<main class="desktop">
    <section class="tarifs">
        <h2>Services et Prestations</h2>
        <% for(let i = 0; i < category.length; i++) { %>
            <h3><%= category[i].title %></h3>
            <div class="serve">
                <% for(let j = 0; j < benefit.length; j++) { %>
                    <% if (benefit[j].categorie_id === category[i].id) { %>
                        <div class="single-serve">
                            <p><%= benefit[j].title %> <span><%= benefit[j].prix %></span></p>
                        </div>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </section>
</main>