<main class="desktop">
    <section class="team">
        <h2>Notre équipe</h2>
        <% for(let i = 0; i < users.length; i++) { %>
            <div class="member">
                <h3><%= users[i].name %></h3>
                <div class="img"><img src="<%= users[i].picture %>" alt="<%= users[i].name %>"></div>
                <% const paragraphs = users[i].text.split('\n'); %>
                <div class="teamParas">
                <% for(let i = 0; i < paragraphs.length; i++) { %>
                    <p><%= paragraphs[i] %></p>
                <% } %>
                </div>
            </div>
        <% } %>
    </section>
</main>