:root {
    --main-color: #f3e1d3;
    --second-color: #C3672D;
    --third-color: #f9dda2;
    --dark-main-color: #222;
}

@font-face {
    font-family: "dancingScript";
    src: url("../fonts/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "dancingScript";
    src: url("../fonts/DancingScript-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "montserrat";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "montserrat";
    font-style: italic;
    src: url("../fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "dyslexic";
    src: url("../fonts/OpenDyslexic-Regular.otf") format("woff2");
}

@font-face {
    font-family: "dyslexic";
    src: url("../fonts/OpenDyslexic-Italic.otf") format("woff2");
    font-style: italic;
}

@font-face {
    font-family: "dyslexic";
    src: url("../fonts/OpenDyslexic-Bold.otf") format("woff2");
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6rem;
    word-spacing: 1px;
    background-color: var(--main-color);
    transition: background-color 0.2s linear;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: dancingScript, cursive;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 4.5rem;
    line-height: 5rem;
    text-align: center;
    width: 100%;
}

h3 {
    font-size: 3.5rem;
    line-height: 5rem;
}

h4 {
    font-size: 3rem;
}

.container {
    width: 95%;
    margin: auto;
}

legend {
    text-align: left;
}

.decline{
    background-color: rgba(172, 24, 32, 0.5);
    border: 2px solid rgba(172, 24, 32, 1);
    font-size: 2rem;
    padding:5px;
}

/**********PARAMETRES***********/
.toggle-container-dark {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.toggle-checkbox-dark {
    display: none;
}

.toggle-label-dark {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: var(--dark-main-color);
    border-radius: 18px;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--second-color)
}

.toggle-text-dark {
    font-size: 20px;
    position: absolute;
    top: 4px;
}

.toggle-text-day {
    left: 6px;
}

.toggle-text-night {
    right: 6px;
}

.fa-moon,
.fa-sun {
    color: var(--second-color)
}

.toggle-handle-dark {
    width: 30px;
    height: 30px;
    z-index: 2;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    top: -1px;
    left: 0px;
    transition: transform 0.3s;
}

.toggle-checkbox-dark:checked+.toggle-label-dark {
    background-color: var(--dark-main-color);
}

.toggle-checkbox-dark:checked+.toggle-label-dark .toggle-handle-dark {
    transform: translateX(29px);
}

.toggle-checkbox-dark:checked+.toggle-label-dark .toggle-handle-dark.dark-mode {
    transform: translateX(-31px);
}

body.dark-mode {
    background-color: var(--dark-main-color);
    color: var(--main-color);
    transition: 0.2s linear;
}

.title h1 .dark-mode,
.title h2 .dark-mode,
.footer p.dark-mode,
.shadow-title{
    text-shadow: var(--main-color) 1px 1px 2px;
}

.title.dark-mode,
.header.dark-mode {
    background: linear-gradient(var(--main-color) 20%, var(--dark-main-color));
    transition: 0.2s linear;
}

.footer.dark-mode {
    background: linear-gradient(var(--dark-main-color) 5%, var(--main-color));
    transition: 0.2s linear;
}

.dark.dark-mode {
    color: var(--dark-main-color);
    transition: 0.2s linear;
}

.light.dark-mode {
    color: var(--main-color);
    transition: 0.2s linear;
}

.accessibility.dark-mode {
    background-color: var(--main-color);
}

/***********DARK-MODE***********/

.toggle-container-dys {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 80px;
}

.toggle-checkbox-dys {
    display: none;
}

.toggle-label-dys {
    display: inline-block;
    width: 50px;
    height: 30px;
    background-color: var(--dark-main-color);
    border-radius: 18px;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--second-color)
}

.toggle-text-dys {
    font-size: 20px;
    position: absolute;
    top: 6px;
    left: 6px;
    color: var(--main-color)
}

.toggle-checkbox-dys:checked+.toggle-label-dys {
    background-color: var(--dark-main-color);
}

.element-with-dys-font {
    font-family: dyslexic, cursive;
}

.element-with-dys-font h1,
.element-with-dys-font h2,
.element-with-dys-font h3,
.element-with-dys-font h4 {
    line-height: 6rem;
}

.element-with-dys-font .toggle-text-dys {
    font-family: montserrat, sans-serif;
}

/***********Dyslexia************/


.header {
    display: flex;
    flex-direction: column;
}

.header .title {
    margin: auto;
}

.title {
    width: 100%;
    background: linear-gradient(black 20%, var(--main-color));
}

.accessibility {
    height: 50px;
    background-color: black;
}

.accessibility a {
    color: var(--main-color);
}

.accessibility .admin-icone {
    left: 20px;
    top: 15px;
    position: absolute;
}

.accessibility .logout {
    left: 65px;
    top: 15px;
    position: absolute
}

.accessibility .newAdmin-icone {
    left: 110px;
    top: 15px;
    position: absolute
}

.accessibility i:hover {
    color: var(--second-color);
}

.title h1,
.title h2,
.footer h3.dark-mode {
    color: var(--main-color);
    text-shadow: black 1px 1px 2px;
}

.title a {
    color: var(--main-color);
}

.nav ul {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav ul li {
    padding: 20px;
    border-bottom: 3px solid var(--second-color);
    background-color: black;
}

.nav ul li a {
    color: var(--main-color);
    font-style: italic;
    text-shadow: var(--second-color) 1px 1px 2px;

}

.nav ul .first {
    border-top: 3px solid var(--second-color);
}

.nav ul li:active {
    color: black;
    background-color: var(--second-color);
}

/***************HEADER*******************/

.footer {
    display: flex;
    flex-direction: column;
    border-top: 15px solid black;
    padding-bottom: 20px;
    text-align: center;
    background: linear-gradient(var(--main-color) 5%, black);
    color: var(--main-color);
    margin-top: 30px;
}

.footer h3 {
    color: black;
    font-weight: bold;
}

.footer i {
    font-size: 3rem;
    color: black;
    margin: 0 40px;
}

.footer i:hover {
    color: var(--third-color);
}

.footer a {
    color: var(--third-color);
}

/****************FOOTER*****************/
.add-admin .picture{
    font-size: 1.2rem;
}
.add-admin textarea {
    width: 100%;
    height: 200px
}

.field {
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: var(--second-color);
    resize: none;
    font-size: 1.8rem;
    line-height: 20px;
    font-family: montserrat, sans-serif;
}

.fieldset {
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-color: black;
    resize: none;
    font-size: 3rem;
    line-height: 20px;
    font-family: montserrat, sans-serif;
    text-align: center;
}

fieldset legend{
    line-height: 3rem;
}

.form .role {
    display: flex;
    justify-content: space-around;
}

[type="file"]::file-selector-button {
    width: 200px;
    height: 50px;
    border: 2px solid black;
    background-color: var(--third-color);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 20px;
    font-family: montserrat, sans-serif;
}

[type="file"]::file-selector-button:hover {
    background-color: black;
    color: white;
    transition: 0.3s all linear;
    border: 2px solid var(--second-color)
}

[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 16px solid white;
    box-shadow: 2px 2px 2px black;
    transition: 0.5s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
    cursor: pointer;
}

[type="radio"]:checked {
    border: 16px solid var(--second-color);
}

.button {
    width: 150px;
    padding: 10px;
    border: 2px solid black;
    background-color: var(--second-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 20px;
    font-family: montserrat, sans-serif;
    transition: 0.3s all linear;
}

.button:hover {
    background-color: black;
    border: 2px solid var(--second-color)
}

.admin .login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin .login input{
    width: 70%;
}

.login .button {
    margin-top: 40px;
}

/****************Formulaires Admins*****************/

.carrousel {
    width: 95%;
    margin: auto
}


.carrousel img {
    width: 100%;
    border: 5px solid black;
}

.slick-prev:before {
    content: '';
}

.slick-next:before {
    content: '';
}

.slick-dots li button::before {
    font-size: 3rem;
    color: black;
}

.slick-dots li.slick-active button::before {
    color: var(--second-color);
}

/***********CARROUSEL***********/

.accueil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: 95%;
}

.accueil p {
    text-align: justify;
}

.marques {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.single-marques {
    margin: auto;
    width: 95%
}

.marques img {
    width: 30%;
    border-radius: 50%;
    margin: 30px;
    border: 2px solid var(--third-color);
    box-shadow: 5px 5px 5px grey;
}

.marques p {
    text-align: justify;
}

/**********************************ACCUEIL***************************************/
.tarifs {
    width: 90%;
    margin: auto;
}

.tarifs .serve {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.tarifs .single-serve {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--second-color);
}

.tarifs .serve .single-serve span {
    float: right;
    font-style: italic;
}

/************************************SERVICE ET TARIFS***************************************/
.team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.team .member {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 3px solid var(--second-color);
}

.team .member img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid black;
}

.team .member p {
    text-align: justify;
}

.member:last-child {
    border: none;
}

/****************************************TEAM*********************************************/

.galerie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galerie .image {
    width: 70%;
    margin: auto auto 20px auto;
}

.galerie .image img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--second-color);
}

/*************************************GALLERIE****************************************/
.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

.content .info {
    margin-bottom: 50px;
}

.contact a {
    color: black;
    font-style: italic;
}

.content .info h3 {
    display: inline-block;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--second-color);
}

.contact .map {
    width: 100%;
}

.contact .map iframe {
    width: 100%;
    height: 300px;
    border-radius: 50px;
    border: 3px solid var(--second-color);
}

/*************************************CONTACT****************************************/
.admin h3 {
    line-height: 30px;
}

.admin {
    max-width: 95%;
    margin: auto;
    padding: 30px 0;
    Border-bottom: 5px solid var(--second-color)
}

.admin:last-child {
    border-bottom: none;
}

.carrousel-admin .form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.carrousel-admin .form .button {
    width: 61%;
    margin: 40px auto auto auto;
}

.image-container {
    position: relative;
    width: 45%;
    margin: 10px auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.image-container:hover img {
    filter: grayscale(100%);

}

.file-label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.file-input {
    display: none
}

/****************Carrousel Admin***************/
.admin .index-text {
    width: 100%;
    text-align: center;
}

.admin .index-text textarea {
    width: 100%;
    height: 300px;
}


/**************Index text admin***************/

.add-brand .field,
.add-brand textarea {
    width: 100%
}

.add-brand {
    text-align: center;
}

/**************Ajout de marques***************/

.tab-benefit tr,
.tab-schedule tr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-collapse: collapse;
    border-bottom: 2px solid var(--second-color);
    padding: 10px 0 10px 0
}

.tab-benefit tr:last-child,
.tab-schedule tr:last-child {
    border: none
}

.tab-benefit thead,
.tab-schedule thead {
    display: none
}

.tab-main {
    width: 100%
}

.tab-main input {
    width: 100%
}

.tab-second {
    width: 75%
}

.tab-second select {
    width: 25%
}

.tab-third {
    width: 20%;
}

.tab-third input {
    width: 100%;
}

.tab-second input {
    width: 100%
}

.delete {
    border-radius: 10px;
    float: right;
    padding: 10px;
    border-color: var(--second-color);
    font-size: 1.8rem;
    line-height: 20px;
    font-family: montserrat, sans-serif;
}

.tab {
    border-collapse: collapse;
    width: 100%
}

.tab th {
    padding: 10px;
    text-align: center;
    border-top: 2px solid var(--second-color);
    border-bottom: 2px solid var(--second-color);
}

.tab td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--second-color);
}

.tab tbody tr:hover {
    background-color: rgba(172, 24, 32, 0.5);
    transition: 0.5s linear;
    cursor: pointer;
}

.tab td img {
    max-width: 100px;
    height: auto;
}
.tab-admin{
    width:100%
}
.tab-admin th{
    display: none;
}
.tab-admin tr{
    display: flex;
    flex-direction: column;
}
.tab-admin tr td{
    margin: auto;
}
.tab-admin tr{
    border-bottom: 3px solid var(--second-color);
    padding:20px 0
}
.tab-admin tr:last-child{
    border:none
}
.tab-admin .text{
    height:300px
}



/*****************Tableaux de supression/modification********************/
.add-category,
.add-benefit {
    text-align: center;
}

.sub-form {
    justify-content: space-between;
    text-align: center;
    width: 100%
}

.sub-form input,
.sub-form select {
    width: 48%;
}

.update {
    display: flex;
}


/*****************Services et tarifs************************/

.add-picture .form {
    text-align: center;
}

.add-picture .sub-form select {
    width: 20%;
}

.add-picture .sub-form input {
    width: 60%;
}

/*******************Galerie****************************/

.info-admin .button {
    margin-top: 40px;
}

.info-admin input{
    width:100%
}

.update-schedule-admin .form {
    display: flex;
    flex-direction: column;
}

/***********************Info/horaires************************/


/**************************************ADMIN****************************************/

/**************************************MEDIA QUERIES*************************************************/

@media screen and (min-width: 650px) {
    .nav ul {
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        border-top: 3px solid var(--second-color);
        border-bottom: 3px solid var(--second-color);
    }

    .nav ul li {
        border: none;
        margin: auto;
        font-style: italic;
    }

    .nav ul .first {
        border: none;
    }

    .nav ul li:hover {
        color: var(--third-color);
        background-color: black;
        letter-spacing: 1px;
    }

    .nav ul li:active {
        letter-spacing: 5px;
    }

    .footer {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer .social i {
        margin-top: 30px;
    }

    .accueil {
        flex-direction: row;
    }

    .accueil h2 {
        width: 100%;
    }

    .carrousel {
        width: 48%;
    }

    .accueil .para {
        width: 48%;
    }

    .marques {
        flex-direction: row;
    }

    .marques h3 {
        width: 100%;
    }

    .single-marques {
        width: 45%;
        margin: auto;
    }

    .team {
        flex-direction: row;
    }

    .team h2 {
        width: 100%;
    }

    .team .member {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .member .teamParas {
        width: 48%;
        line-height: 2.5rem;
    }

    .member h3 {
        width: 100%;
    }

    .member .img {
        width: 48%;
    }

    .galerie{
        flex-direction: row;
    }

    .galerie .image {
        width: 23%;
    }

    .contact {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact .content {
        width: 48%;
    }

    .contact .map {
        width: 48%;
    }

    .contact .map iframe {
        height: 500px
    }

    .image-container {
        width: 30%;
    }

    .image-container:hover img {
        transform: scale(1.1);
        transition: 0.3s ease;
    }

    .file-label {
        display: none;
    }

    .image-container:hover .file-label {
        display: block;
    }

    .tab,
    .tab-benefit,
    .tab-schedule {
        width: 100%;
        border-collapse: collapse;
    }

    .tab td,
    .tab-benefit td,
    .tab-schedule td {
        padding: 10px;
    }

    .tab tbody tr:hover {
        background-color: rgba(172, 24, 32, 0.5);
        transition: 0.5s linear;
        cursor: pointer;
    }

    .tab td img {
        max-width: 100px;
        height: auto;
    }

    .tab-schedule {
        margin-bottom: 40px;
    }

    .tab-main,
    .tab-main input,
    .tab-second,
    .tab-second select,
    .tab-third,
    .tab-third input {
        width: auto;
    }

    .delete:hover{
        background-color:rgba(172, 24, 32, 0.5);
        cursor: pointer;
    }
    .add-admin .picture{
        font-size: 2rem;
    }
    .tab-admin tr{
        display: flex;
        flex-direction: row;
    }

}

@media screen and (min-width:980px) {
    .desktop {
        max-width: 900px;
        margin: auto;
    }

    body {
        word-spacing: 5px;
        line-height: 2rem;
    }

    .header {
        flex-direction: row;
        background: linear-gradient(black 20%, var(--main-color));
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 2;
        border-bottom: 3px solid var(--second-color);
    }

    .header .title,
    .header .nav {
        width: 48%;
        padding: 0;
    }

    .header .nav {
        margin-right: 50px;
        margin-top: 50px;
    }

    .header .nav ul {
        border: none;
        background: none;
    }

    .header .nav ul li {
        padding: 0 10px 0 0;
        background: none;
    }

    .header .nav ul li a {
        color: var(--main-color);
        font-weight: 500;
        text-shadow: black 3px 3px 5px;
    }

    .tarifs .serve {
        flex-direction: row;
        justify-content: space-between;
    }

    .serve .single-serve {
        min-width: 48%;
    }

    .carrousel-admin .form {
        justify-content: space-between;
    }

    .image-container {
        width: 18%;
    }

    .toggle-text-dys {
        top: 4px;
    }

}